/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@400;500;600&display=swap');

/* VARIABLES */
:root {
    --header-height: 3rem;

    /* COLORS */
    --first-color: #26a69a;
    --first-color-alt: #1c8278;
    --first-color-lighter: #ecf3f2;
    --title-color: #11443f;
    --text-color: #5b7b78;
    --text-color-lighter: #f5fffe;
    --body-color: var(--text-color-lighter);
    --swiper-theme-color: var(--first-color);

    /* FONT AND TYPOGRAPHY */
    --body-font: 'Poppins', sans-serif;

    --biggest-font-size: 3rem;
    --big-font-size: 1.25rem;
    --normal-font-size: .938rem;

    --medium-font-weight: 500;
    --semibold-font-weight: 600;

    /* Z-INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

@media screen and (min-width: 1024px) {
    :root {
        --biggest-font-size: 5rem;
        --big-font-size: 2rem;
        --normal-font-size: 1rem;
    }
}

/* VARIABLES DARK THEME */
body.dark-theme {
    /* HSL color mode */
    /* second (0, 39, 53) */
    --first-color: hsl(174, 24%, 93%);
    --first-color-lighter: hsl(171, 62%, 41%);
    /* title (0, 0, 80) */
    --title-color: hsl(174, 60%, 97%);
    /* text (0, 8, 30) */
    --text-color: hsl(174, 15%, 72%);
    --text-color-lighter: hsl(174, 100%, 68%);
    /* body (0, 12, 12) */
    --body-color: hsl(174, 84%, 13%); 
}

/* BASE */
*, ::before, ::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1, h2, ul, p {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    filter: brightness(89%);
}

/* LAYOUT */
.main {
    position: relative;
}

.bd-container {
    max-width: 968px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.bd-grid {
    display: grid;
    grid-template-columns: 100%;
    gap: 1.5rem;
}

.section {
    margin-bottom: 3rem;
}

.section__title {
    font-size: var(--big-font-size);
    font-weight: var(--semibold-font-weight);
    color: var(--title-color);
    text-align: center;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.button {
    display: inline-block;
    padding: 1rem 2rem;
    text-decoration: none;
    outline: none;
    background-color: var(--first-color);
    color: var(--text-color-lighter);
}

.button:hover {
    background-color: var(--first-color-alt);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-modal);
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    cursor: pointer;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.logo {
    color: var(--first-color) !important;
}

/* HEADER */
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    width: 100%;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .nav__menu {
        position: absolute;
        top: -100%;
        /* display: none; */
        opacity: 0;
        visibility: hidden;
        left: 0;
        right: 0;
        z-index: var(--z-fixed);
        width: 90%;
        margin: 0 auto;
        padding-top: 1.5rem;
        /* padding-bottom: 1.5rem; */
        text-align: center;
        background-color: var(--first-color-lighter);
        border-radius: 1rem;
        transition: .5s;
    }
}

.nav__tabs {
    display: flex;
    align-items: center;
}

.nav__logo {
    text-transform: uppercase;
    font-size: var(--big-font-size);
    font-weight: var(--semibold-font-weight);
}

.nav__logo,
.nav__toggle,
.change-theme {
    color: var(--text-color-lighter);
    cursor: pointer;
}

.nav__link {
    color: var(--title-color);
    font-weight: var(--medium-font-weight);
}

.nav__link:hover {
    color: var(--first-color); 
}

.nav__item {
    margin-bottom: 1.5rem;
}

.nav__toggle {
    font-size: 1.2rem;
    padding: .25rem;
    cursor: pointer;
    margin-right: 1rem;
}

.change-theme {
    padding: .25rem;
}

.change-theme:hover {
    color: var(--first-color);
    cursor: pointer;
}

/* HOME - ISLANDS */
.home {
    position: relative;
}

.islands {
    height: 100vh;
    position: relative;
}

.islands__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    object-position: center;
}

.islands__container {
    position: relative;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr .25fr;
    align-content: center;
}

.islands__title,
.islands__subtitle,
.islands__description {
    color: var(--text-color-lighter);
}

.islands__title {
    font-size: var(--biggest-font-size);
    font-weight: var(--semibold-font-weight);
}

.islands__subtitle {
    font-size: var(--big-font-size);
    font-weight: var(--medium-font-weight);
}

.islands__description {
    margin-bottom: 1rem;
}

.islands__button {
    display: inline-flex;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: var(--body-color);
    color: var(--first-color);
    border-radius: .5rem;
    font-weight: var(--medium-font-weight);
}

.islands__button-icon {
    font-size: 1.5rem;
    margin-left: .5rem;
    transition: .3s;
}

.islands__button:hover .islands__button-icon {
    transform: translateX(.5rem);
}

.islands__video {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-bottom: .75rem;
}

.islands__video-content {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: .25rem;
    background-color: var(--body-color);
    border-radius: 50%;
    cursor: pointer;
}

.islands__video-icon {
    font-size: 1.8rem;
    color: var(--first-color);
    transition: .3s;
}

.islands__video-content:hover .islands__video-icon {
    transform: rotate(-120deg);
}

.islands__popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: -100%;
    left: 50%;
    z-index: calc(var(--z-modal) + var(--z-fixed));
    transform: translate(-50%, -50%);
    background-color: var(--body-color);
    padding: 2rem .75rem .5rem;
    border-radius: 1rem;
    transition: .7s;
}

.islands__popup-close {
    position: absolute;
    top: -.75rem;
    right: -.75rem;
    z-index: var(--z-tooltip);
    width: 2rem;
    height: 2rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--first-color);
    cursor: pointer;
}

.islands__popup-close-icon {
    font-size: 1.2rem;
    color: var(--title-color);
    transition: .3s;
}

.islands__popup-close:hover .islands__popup-close-icon {
    transform: rotate(-90deg);
}

.islands__popup-video {
    align-self: center;
}

/* CONTROLS */
.controls {
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: var(--z-tooltip);
    padding: .25rem .5rem;
    border-radius: 1rem;
    background-color: var(--body-color);
    overflow: hidden;
}

.controls__container {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.controls__img {
    width: 35px;
    height: 35px;
    border-radius: .5rem;
    cursor: pointer;
    transition: .3s;
}

.swiper-slide-thumb-active {
    width: 45px;
    height: 45px;
}

/* ABOUT */
.about__title {
    margin-bottom: 0;
}

.about__img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: .25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.about__button {
    justify-self: start;
}

/* DISCOVER */
.discover__box {
    position: relative;
    width: 30vw;
    height: 60vw;
    max-height: 80vh;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
    scale: 90%;
    filter: brightness(60%);
    transition: .3s;
}

.discover__box.swiper-slide.swiper-slide-next {
    scale: initial;
    filter: initial;
}

.discover__box-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discover__box-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.discover__box-title {
    display: block;
    font-size: var(--big-font-size);
    font-weight: var(--semibold-font-weight);
}

.discover__box-title,
.discover__box-description {
    color: var(--text-color-lighter);
    text-align: center;
}

.discover__box-title:hover {
    text-decoration: underline;
}

/* US */
.us__data {
    grid-template-columns: repeat(2, 1fr);
}

.us__content {
    gap: .25rem;
    color: var(--first-color);
    text-align: center;
}

.us__content-number {
    font-size: var(--biggest-font-size);
    font-weight: var(--semibold-font-weight);
}

/* PLACES */
.places__box {
    position: relative;
    border-radius: .25rem;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .15);
}

.places__box-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.places__box-content {
    position: absolute;
    bottom: 0;
    padding: 1rem;
}

.places__box-title {
    margin: 0;
    font-size: var(--big-font-size);
    font-weight: var(--semibold-font-weight);
    color: var(--text-color-lighter);
}

.places__box-link {
    position: absolute;
    bottom: -100%;
    visibility: hidden;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: var(--z-tooltip);
    background-color: rgba(38, 166, 154, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.places__box:hover .places__box-link {
    bottom: 0;
    visibility: initial;
}

/* SUBSCRIBE */
.bg {
    background-color: var(--first-color);
}

.bg .section__title,
.subscribe__description {
    color: var(--text-color-lighter);
}

.subscribe__description {
    color: var(--body-color);
}

.subscribe {
    margin-bottom: 0;
}

.subscribe__description {
    text-align: center;
}

.subscribe__form {
    background-color: var(--body-color);
    padding: .25rem;
    border-radius: .25rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: 2fr .5fr;
}

.subscribe__input {
    outline: none;
    border: none;
    padding: 1rem;
    color: var(--first-color);
    background-color: var(--body-color);
}

/* FOOTER */
.footer {
    background-color: var(--first-color-lighter);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.footer__title,
.footer__link,
.footer__copy {
    color: var(--title-color);
}

.footer__title {
    margin-bottom: .5rem;
}

.footer__title--logo {
    font-size: var(--big-font-size);
    font-weight: var(--semibold-font-weight);
}

.footer__link {
    align-items: center;
}

.footer__link:hover {
    color: var(--first-color);
}

.footer__link i,
.footer__social {
    font-size: 1.2rem;
    color: var(--first-color);
    margin-right: .5rem;
}

.footer__social:hover {
    color: var(--first-color-alt);
}

.footer__copy {
    text-align: center;
    margin-top: 1rem;
    padding-top: 3rem;
    border-top: 1px solid var(--first-color);
}

/* SCROLL UP */
.scroll-up {
    position: fixed;
    right: 1rem;
    bottom: -20%;
    z-index: var(--z-tooltip);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 1px solid var(--body-color);
    display: flex;
    background-color: var(--first-color);
    opacity: .8;
    transition: .4s;
}

.scroll-up:hover {
    background-color: var(--first-color-alt);
}

.scroll-up__icon {
    font-size: 1.5rem;
    color: var(--text-color-lighter);
    margin: auto;
}

/* show-menu, scroll-header, show-modal show-popup, active */
.show-menu {
    top: calc(var(--header-height) + 1rem);
    opacity: 1;
    visibility: initial;
}

.scroll-header {
    background-color: var(--first-color-lighter);
    transition: .5s;
}

.scroll-header .nav__logo {
    color: var(--first-color);
}

.scroll-header .nav__link,
.scroll-header .nav__toggle,
.scroll-header .change-theme {
    color: var(--title-color);
}

.scroll-header .nav__link:hover,
.scroll-header .nav__toggle:hover,
.scroll-header .change-theme:hover {
    color: var(--first-color);
}

.show-modal {
    opacity: 1;
    visibility: initial;
}

.show-popup {
    opacity: 1;
    visibility: initial;
    top: 50vh;
}

.show-scroll {
    bottom: 5rem !important;
}

.active {
    color: var(--first-color) !important;
}

/* DARK THEME */
body.dark-theme .button,
body.dark-theme .scroll-up {
    background-color: var(--first-color-lighter);
    color: var(--body-color);
}

body.dark-theme .button:hover,
body.dark-theme .scroll-up:hover {
    background-color: var(--first-color-alt);
}

body.dark-theme .scroll-up__icon {
    color: var(--body-color);
}

body.dark-theme .logo {
    color: var(--body-color) !important;
}

body.dark-theme .nav__link:hover,
body.dark-theme .change-theme:hover {
    color: var(--body-color); 
}

body.dark-theme .islands__popup-close-icon {
    color: var(--body-color);
}

body.dark-theme .bg {
    background-color: var(--text-color-lighter);
}

body.dark-theme .bg .section__title,
body.dark-theme .subscribe__description {
    color: var(--body-color);
}

body.dark-theme .footer__link:hover {
    color: var(--body-color);
}

body.dark-theme .footer__link i,
body.dark-theme .footer__social {
    color: var(--body-color);
}

body.dark-theme .footer__social:hover {
    color: var(--first-color);
}

body.dark-theme .active {
    color: var(--body-color) !important;
}

/* RESPONSIVE */
@media screen and (max-width: 320px) {
    .bd-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .controls__container {
        column-gap: .25rem;
    }

    .islands__popup-video {
        width: 230px;
        height: 100px;
    }

    .about__button {
        justify-self: initial;
        text-align: center;
    }
    
    .us__data {
        grid-template-columns: initial;
    }
}

@media screen and (max-width: 468px) {
    .discover__box-description {
        display: none;
    }

    .subscribe__form {
        grid-template-columns: 100%;
    }

    .subscribe__form .button {
        text-align: center;
    }

    .subscribe__input {
        line-height: 1.2rem;
    }

    .about__img {
        width: 100%;
        height: 200px;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);

    }

    .nav__list {
        display: flex;
        /* justify-content: flex-end; */
        align-items: center;
    }
    
    .nav__item {
        margin-right: 2rem;
        margin-bottom: 0;
    }

    .nav__link {
        color: var(--text-color-lighter);
    }

    .nav__toggle {
        display: none;
    }

    .islands__container {
        grid-template-columns: repeat(2, 1fr);
    }

    .islands__description {
        padding-right: 5rem;
        margin-right: 2rem;
    }

    .islands__video {
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .islands__video-icon {
        font-size: 3rem;
    }

    .islands__popup-video {
        width: 500px;
        height: 250px;
    }

    .islands__popup-close-icon {
        font-size: 1.5rem;
    }

    .controls {
        padding: .5rem;
        border-radius: 1.25rem;
    }

    .controls__container {
        column-gap: 1.5rem;
    }

    .controls__img {
        width: 45px;
        height: 45px;
        border-radius: .75rem;
    }

    .swiper-slide-thumb-active {
        width: 55px;
        height: 55px;
    } 
    
    .about__container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 
            "title image"
            "data image";
    }

    .about__title {
        grid-area: title;
        align-self: end;
        text-align: start;
    }

    .about__img {
        grid-area: image;
        align-self: end;
    }

    .about__data {
        grid-area: data;
        align-self: start;
    }

    .us__data {
        grid-template-columns: repeat(3, 1fr);
    }

    .places__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .places__box {
        height: 400px;
    }

    .footer__container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (min-width: 1024px) {
    .bd-container {
        margin-left: auto;
        margin-right: auto;
    }

    .islands__description {
        padding-right: 11rem;
    }

    .footer__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__title--logo {
        margin-top: 1rem;
    }
}

/* For tall screens */
@media screen and (min-height: 721px) {
    .islands {
        height: 640px;

    }
}